<% include ../partials/header %>

        <h1>Create a New Question</h1>
            <form action="/questions" method="POST">
                <input type="text" name="question_body" placeholder="Add question here" style="width: 800px; height: 100px;">
                <button>Submit!</button>
            </form>

<% include ../partials/footer %>

